openapi: "3.0.3"
info:
  title: MDFE API
  description: "Mdfe API"
  version: "1.0.0"

servers:
  - url: https://mdfe-api.hivecloud.com.br/api

paths:
  /v1/integracoes/mdfes/cancelar:
    post:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "cancelarMdfe"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelarMdfe"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/cancelar/{id}/consultar-status:
    get:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "cancelarMdfeConsutlarStatus"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/cancelar/{id}/obter-resultado:
    get:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "cancelarMdfeObterResultado"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/cancelar/list:
    post:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "list"
      requestBody:
        content:
          application/json:
            schema:
              type: "array"
              items:
                type: "string"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/consultar:
    post:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "consultarMdfe"
      parameters:
        - name: "empresaId"
          in: "header"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          application/json:
            schema:
              type: "array"
              items:
                type: "string"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/consultar/{id}/consultar-status:
    get:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "consultarMdfeConsutlarStatus"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/consultar/{id}/obter-resultado:
    get:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "consultarMdfeObterResultado"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/encerrar:
    post:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "encerrarMdfe"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncerrarMdfe"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/encerrar/{id}/consultar-status:
    get:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "encerrarMdfeConsutlarStatus"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/encerrar/{id}/obter-resultado:
    get:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "encerrarMdfeObterResultado"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/encerrar/list:
    post:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "Encerrar List"
      requestBody:
        content:
          application/json:
            schema:
              type: "array"
              items:
                type: "string"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"

  /v1/integracoes/mdfes/emitir:
    post:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "emitirMdfe"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmitirMdfe"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/emitir/list:
    post:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "Emitir List"
      requestBody:
        content:
          application/json:
            schema:
              type: "array"
              items:
                type: "string"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/emitir/{id}/consultar-status:
    get:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "consultarStatusMdfe"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/emitir/{id}/obter-resultado:
    get:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "obterResultadoMdfe"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"
  /v1/integracoes/mdfes/imprimir-documento-mdfe:
    post:
      tags:
        - Integrar Imprimir Documento Mdfe
      operationId: IntegrarImprimirDocumentoMdfeControllerImp.imprimirDocumentoMdfe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParametrosImprimirMdfes'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImprimirMdfesReturn'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      x-operation-name: imprimirDocumentoCte
  /v1/integracoes/mdfes/remover:
    delete:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Mdfe'
      summary: ''
      description: ''
      operationId: "removerMdfes"
      requestBody:
        content:
          application/json:
            schema:
              type: "array"
              items:
                type: "string"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResponseEntity"

  /v1/integracoes/mdfe:
    post:
      security:
        - tokenAuth: [ ]
        - tenantAuth: [ ]
      tags:
        - 'Integração'
      summary: ''
      description: ''
      operationId: "integrarMdfe"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MdfeIntegracao"
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateResponseId'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/integracoes/mdfes/{id}:
    get:
      tags:
        - 'Mdfe'
      operationId: IntegraMdfeV1ControllerImp.getMdfe
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MdfeView"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      x-operation-name: get

components:
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: >-
        Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\"
    tenantAuth:
      type: apiKey
      in: header
      name: tenantID

  schemas:
    EmitirMdfe:
      type: "object"
      properties:
        idList:
          type: "array"
          items:
            type: "string"
        mensagemList:
          type: "array"
          items:
            type: "string"
        enviarEmailParaEmitente:
          type: "boolean"
        idEmitente:
          type: "string"
        outrosEmail:
          type: "array"
          items:
            type: "string"
    Municipio:
      type: "object"
      properties:
        uf:
          type: "string"
          enum:
            - "DF"
            - "GO"
            - "MT"
            - "MS"
            - "RS"
            - "SC"
            - "PR"
            - "SP"
            - "RJ"
            - "ES"
            - "MG"
            - "MA"
            - "PI"
            - "CE"
            - "RN"
            - "PB"
            - "PE"
            - "AL"
            - "SE"
            - "BA"
            - "TO"
            - "AP"
            - "PA"
            - "RR"
            - "AM"
            - "AC"
            - "RO"
            - "EX"
        nomeMunicipio:
          type: "string"
    EncerrarMdfe:
      type: "object"
      properties:
        idMdfeList:
          type: "array"
          items:
            type: "string"
        dataEncerramento:
          type: "string"
          format: "date-time"
        municipio:
          $ref: "#/components/schemas/Municipio"
        dataEvento:
          type: "string"
    CancelarMdfe:
      type: "object"
      properties:
        idMdfeList:
          type: "array"
          items:
            type: "string"
        dataCancelamento:
          type: "string"
          format: "date-time"
        motivoCancelamento:
          type: "string"
    EmpresaIntegracao:
      title: "Empresa"
      description: "Empresa / Filial que está realizando a emissão"
      type: "object"
      required:
        - inscricaoFederal
        - inscricaoEstadual
      properties:
        inscricaoFederal:
          type: "string"
          maxLength: 14
          example: "39702201000176"
        inscricaoEstadual:
          type: "string"
          example: "373167929110"
    LocalidadeIntegracao:
      title: "Localidade"
      description: "Informações sobre a UF e o municipio"
      type: "object"
      required:
        - uf
        - municipio
      properties:
        uf:
          type: "string"
          enum:
            - "DF"
            - "GO"
            - "MT"
            - "MS"
            - "RS"
            - "SC"
            - "PR"
            - "SP"
            - "RJ"
            - "ES"
            - "MG"
            - "MA"
            - "PI"
            - "CE"
            - "RN"
            - "PB"
            - "PE"
            - "AL"
            - "SE"
            - "BA"
            - "TO"
            - "AP"
            - "PA"
            - "RR"
            - "AM"
            - "AC"
            - "RO"
            - "EX"
          example: PE
        municipio:
          type: "string"
          example: "Recife"
    LocalidadeCargaLotacaoIntegracao:
      title: "LocalidadeCargaLotacao"
      type: "object"
      properties:
        cep:
          type: "string"
          maxLength: 8
          example: "99999999"
        latitude:
          type: "string"
          maxLength: 10
          example: "1111111111"
        longitude:
          type: "string"
          maxLength: 11
          example: "11111111111"

    CargaLotacaoIntegracao:
      title: "CargaLotacao"
      description: "Informações da carga lotação. Informar somente quando MDFe for de carga lotação"
      type: "object"
      required:
        - localCarregamento
        - localDescarregamento
      properties:
        localCarregamento:
          $ref: "#/components/schemas/LocalidadeCargaLotacaoIntegracao"
        localDescarregamento:
          $ref: "#/components/schemas/LocalidadeCargaLotacaoIntegracao"

    ParametrosImprimirMdfes:
      required:
        - idMdfeList
      type: object
      properties:
        idCteList:
          type: array
          items:
            type: string
        ordenarPorIntegracao:
          type: boolean

    ProdutoPredominanteIntegracao:
      title: "ProdutoPredominante"
      description: "Informações do Produto Predominante"
      type: "object"
      required:
        - tipoCarga
        - descricaoProduto
      properties:
        codigoEan:
          type: "string"
          maxLength: 14
          example: "12345678901234"
        codigoNcm:
          type: "string"
          maxLength: 8
          example: "12345678"
        tipoCarga:
          type: "string"
          enum:
            - "GRANEL_SOLIDO"
            - "GRANEL_LIQUIDO"
            - "FRIGORIFICADA"
            - "CONTEINERIZADA"
            - "CARGA_GERAL"
            - "NEOGRANEL"
            - "PERIGOSA_GRANEL_SOLIDO"
            - "PERIGOSA_GRANEL_LIQUIDO"
            - "PERIGOSA_CARGA_FRIGORIFICADA"
            - "PERIGOSA_CONTEINERIZADA"
            - "PERIGOSA_CARGA_GERAL"
          example: "GRANEL_LIQUIDO"
        descricaoProduto:
          type: "string"
          maxLength: 120
          example: "produto feito a mão"
        cargaLotacao:
          $ref: "#/components/schemas/CargaLotacaoIntegracao"

    DadosGeraisIntegracao:
      title: "DadosGerais"
      type: "object"
      required:
        - valorTotal
        - pesoTotalKg
      properties:
        dataEmissao:
          type: "string"
          format: "date-time"
          example: "2023-01-01T15:14:13"
        serie:
          type: "string"
          example: "1"
        numero:
          type: "string"
          example: "9999"
        valorTotal:
          type: "number"
          format: "decimal"
          example: 1200
        pesoTotalKg:
          type: "number"
          format: "decimal"
          example: 50
        produtoPredominante:
          $ref: "#/components/schemas/ProdutoPredominanteIntegracao"
    MotoristaIntegracao:
      title: "Motorista"
      type: "object"
      required:
        - nome
        - cpf
      properties:
        nome:
          type: "string"
          example: "João"
        cpf:
          type: "string"
          example: "99999999999"
    ProprietarioIntegracao:
      title: "Proprietario"
      type: "object"
      properties:
        inscricaoFederal:
          type: "string"
          maxLength: 14
          example: 39702201000176
        inscricaoEstadual:
          type: "string"
          example: "491999630084"
          maxLength: 14
        uf:
          type: "string"
          example: "PE"
        rntrc:
          type: "string"
          maxLength: 8
          example: "12345678"
        nome:
          type: "string"
          maxLength: 60
          example: "Maria"
        tipoProprietario:
          type: "string"
          enum:
            - "TAC_AGREGADO"
            - "TAC_INDEPENDENTE"
            - "OUTROS"
          example: TAC_AGREGADO
    VeiculoIntegracao:
      title: "Veiculo"
      type: "object"
      required:
        - placa
        - tara
        - tipoVeiculo
        - tipoCarroceria
        - tipoRodado
        - propriedadeVeiculo
      properties:
        placa:
          type: "string"
          example: "KKK9999"
        uf:
          type: "string"
          example: "PE"
        renavam:
          type: "string"
          maxLength: 11
          example: "54353454235"
        tara:
          type: "number"
          format: "decimal"
          example: 2000
        capacidadeM3:
          type: "number"
          format: "decimal"
          example: 300
        capacidadeKg:
          type: "number"
          format: "decimal"
          example: 300
        proprietario:
          $ref: "#/components/schemas/ProprietarioIntegracao"
        tipoVeiculo:
          type: "string"
          enum:
            - "TRACAO"
            - "REBOQUE"
          example: "TRACAO"
        tipoCarroceria:
          type: "string"
          enum:
            - "NAOAPLICAVEL"
            - "ABERTA"
            - "FECHADA_BAU"
            - "GRANELEIRA"
            - "PORTACONTAINER"
            - "SIDER"
          example: "ABERTA"
        tipoRodado:
          type: "string"
          enum:
            - "NAOAPLICAVEL"
            - "TRUCK"
            - "TOCO"
            - "CAVALOMECANICO"
            - "VAN"
            - "UTILITARIO"
            - "OUTROS"
          example: "TRUCK"
        propriedadeVeiculo:
          type: "string"
          enum:
            - "TERCEIRO"
            - "PROPRIO"
          example: "PROPRIO"
    InfoCiotIntegracao:
      title: "InfoCiot"
      type: "object"
      required:
        - inscricaoFederal
        - ciot
      properties:
        inscricaoFederal:
          type: "string"
          maxLength: 14
          example: "39702201000176"
        ciot:
          type: "string"
          maxLength: 12
          example: "123456789012"
    byte:
      type: object
    ImprimirMdfesReturn:
      type: object
      properties:
        idArquivo:
          type: string
        bytesDacteMdfe:
          type: array
          items:
            $ref: '#/components/schemas/byte'
        bytesXmlMdfe:
          type: array
          items:
            $ref: '#/components/schemas/byte'
        url:
          type: string
        alertaAverbacao:
          type: boolean
    InfoContratanteIntegracao:
      title: "InfoContratante"
      type: "object"
      properties:
        inscricaoFederal:
          type: "string"
          maxLength: 14
          example: "39702201000176"
    ComponentePagamentoFreteIntegracao:
      title: "ComponentePagamentoFrete"
      type: "object"
      required:
        - tipoComponente
        - valor
      properties:
        tipoComponente:
          type: "string"
          enum:
            - "VALE_PEDAGIO"
            - "IMPOSTOS_TAXAS_CONTRIBUICOES"
            - "DESPESAS"
            - "OUTROS"
          example: "DESPESAS"
        valor:
          type: "number"
          format: "decimal"
          example: 50
        descricao:
          type: "string"
          example: "Estadia hotel"
    InfoPrazoPagamentoIntegracao:
      title: "InfoPrazoPagamento"
      type: "object"
      required:
        - numeroParcela
        - valor
        - vencimento
      properties:
        numeroParcela:
          type: "string"
          example: "001"
        vencimento:
          type: "string"
          format: "date-time"
          example: "2023-01-01T15:14:13"
        valor:
          type: "number"
          format: "decimal"
          example: 30
    InformacaoBancariaIntegracao:
      title: "InformacaoBancaria"
      type: "object"
      required:
        - codBanco
        - codAgencia
      properties:
        codBanco:
          type: "string"
          maxLength: 5
          minLength: 3
          example: "160"
        codAgencia:
          type: "string"
          maxLength: 10
          minLength: 1
          example: "0010"
        cnpjipef:
          type: "string"
          maxLength: 14
          example: "123456789"
        pix:
          type: "string"
          maxLength: 60
          minLength: 2
          example: "123456789"
    PagamentoFreteIntegracao:
      title: "PagamentoFrete"
      type: "object"
      required:
        - valorTotalContrato
        - indicadorPagamento
        - informacaoBancariaIntegracao
      properties:
        nome:
          type: "string"
          example: "Joaquim"
        inscricaoFederal:
          type: "string"
          maxLength: 14
          example: "39702201000176"
        idEstrangeiro:
          type: "string"
          example: "5555"
        valorTotalContrato:
          type: "number"
          format: "decimal"
          example: 1000
        indicadorPagamento:
          type: "string"
          enum:
            - "A_VISTA"
            - "A_PRAZO"
          example: "A_VISTA"
        indicadorAltoDesempenho:
          type: "boolean"
          example: false
        componentePagamentoFreteIntegracaos:
          type: "array"
          items:
            $ref: "#/components/schemas/ComponentePagamentoFreteIntegracao"
        prazoPagamento:
          type: "array"
          items:
            $ref: "#/components/schemas/InfoPrazoPagamentoIntegracao"
        informacaoBancariaIntegracao:
          $ref: "#/components/schemas/InformacaoBancariaIntegracao"
    ValePedagioIntegracao:
      title: "ValePedagio"
      type: "object"
      properties:
        inscricaoFederalFornecedor:
          type: "string"
          maxLength: 14
          example: "39702201000176"
        inscricaoFederalPagante:
          type: "string"
          maxLength: 14
          example: "39702201000176"
        numeroComprovante:
          type: "string"
          example: "123456"
        valor:
          type: "number"
          format: "decimal"
          example: 50
        tipoVale:
          type: "string"
          enum:
            - "TAG"
            - "CUPOM"
            - "CARTAO"
          example: "CUPOM"
    InfoPedagioIntegracao:
      title: "InfoPedagio"
      type: "object"
      properties:
        valePedagioList:
          type: "array"
          items:
            $ref: "#/components/schemas/ValePedagioIntegracao"
        categoriaCombinacaoVeicular:
          type: "string"
          enum:
            - "EIXOS_2"
            - "EIXOS_3"
            - "EIXOS_4"
            - "EIXOS_5"
            - "EIXOS_6"
            - "EIXOS_7"
            - "EIXOS_8"
            - "EIXOS_9"
            - "EIXOS_10"
            - "EIXOS_ACIMA_10"
          example: "EIXOS_2"
    ModalRodoviarioIntegracao:
      title: "ModalRodoviario"
      type: "object"
      required:
        - motoristas
        - veiculos
      properties:
        ciot:
          type: "string"
          maxLength: 12
          example: "123456789012"
        rntrc:
          type: "string"
          maxLength: 8
          example: "12345678"
        motoristas:
          type: "array"
          items:
            $ref: "#/components/schemas/MotoristaIntegracao"
        veiculos:
          type: "array"
          items:
            $ref: "#/components/schemas/VeiculoIntegracao"
        ciotList:
          type: "array"
          items:
            $ref: "#/components/schemas/InfoCiotIntegracao"
        contratantes:
          type: "array"
          items:
            $ref: "#/components/schemas/InfoContratanteIntegracao"
        pagamentoFrete:
          type: "array"
          items:
            $ref: "#/components/schemas/PagamentoFreteIntegracao"
        pedagio:
          $ref: "#/components/schemas/InfoPedagioIntegracao"
    ModalIntegracao:
      title: "Modal"
      type: "object"
      properties:
        rodoviario:
          $ref: "#/components/schemas/ModalRodoviarioIntegracao"
    NotaIntegracao:
      title: Nota
      type: "object"
      required:
        - chave
        - tipoDocumento
        - municipio
      properties:
        chave:
          type: "string"
          example: "35200501442791000129550010000059172174173681"
        tipoDocumento:
          type: "string"
          enum:
            - "NFE"
            - "CTE"
          example: "CTE"
        municipio:
          $ref: "#/components/schemas/LocalidadeIntegracao"
    SeguroCargaItemIntegracao:
      title: "SeguroCargaItem"
      type: "object"
      required:
        - inscricaoFederalSeguradora
        - nomeSeguradora
      properties:
        inscricaoFederalResponsavelSeguro:
          type: "string"
          maxLength: 14
          example: "39702201000176"
        nomeSeguradora:
          type: "string"
          example: "Seguros LTDA"
        inscricaoFederalSeguradora:
          type: "string"
          maxLength: 14
          example: "39702201000176"
        numeroApolice:
          type: "string"
          maxLength: 20
          example: "555555"
        inscricaoFederalContranteList:
          type: "array"
          items:
            type: "string"
            maxLength: 14
            example: "39702201000176"
        numeroAverbacaoList:
          type: "array"
          items:
            type: "string"
            maxLength: 40
            example: "555555"
        tipoResponsavelSeguro:
          type: "string"
          enum:
            - "EMITENTE"
            - "CONTRATANTE"
    SeguroCargaIntegracao:
      title: SeguroCarga
      type: "object"
      properties:
        seguroCargaItemList:
          type: "array"
          items:
            $ref: "#/components/schemas/SeguroCargaItemIntegracao"
    SobrescritasIntegracao:
      title: "Sobrescritas"
      type: "object"
      properties:
        seguroCarga:
          $ref: "#/components/schemas/SeguroCargaIntegracao"
    MdfeIntegracao:
      type: "object"
      required:
        - idIntegracao
        - empresa
        - ufsPercurso
        - inicio
        - termino
        - dadosGerais
        - modal
        - notas
      properties:
        idIntegracao:
          type: "string"
          example: '029341de-df08-4821-9570-061bcc5ba067'
          description: "Chave que irá identificar unicamente este MDFE"
        empresa:
          $ref: "#/components/schemas/EmpresaIntegracao"
        ufsPercurso:
          type: "array"
          nullable: false
          items:
            type: "string"
            enum:
              - "DF"
              - "GO"
              - "MT"
              - "MS"
              - "RS"
              - "SC"
              - "PR"
              - "SP"
              - "RJ"
              - "ES"
              - "MG"
              - "MA"
              - "PI"
              - "CE"
              - "RN"
              - "PB"
              - "PE"
              - "AL"
              - "SE"
              - "BA"
              - "TO"
              - "AP"
              - "PA"
              - "RR"
              - "AM"
              - "AC"
              - "RO"
              - "EX"
            example: "PE"
        observacaoContribuinte:
          type: "string"
        observacaoFisco:
          type: "string"
        canalVerde:
          type: "boolean"
          example: false
        tipoTransportador:
          type: "string"
          enum:
            - "ETC"
            - "TAC"
            - "CTC"
        inicio:
          $ref: "#/components/schemas/LocalidadeIntegracao"
        termino:
          $ref: "#/components/schemas/LocalidadeIntegracao"
        dadosGerais:
          $ref: "#/components/schemas/DadosGeraisIntegracao"
        modal:
          $ref: "#/components/schemas/ModalIntegracao"
        notas:
          type: "array"
          items:
            $ref: "#/components/schemas/NotaIntegracao"
        sobrescritas:
          $ref: "#/components/schemas/SobrescritasIntegracao"
    HttpHeaders:
      type: "object"
      properties: { }
    ResponseEntity:
      type: "object"
      properties:
        headers:
          $ref: "#/components/schemas/HttpHeaders"

    CreateEntityReturn:
      properties:
        id:
          type: string
          example: '99e39200-3bfb-465f-886f-85ee28e8cfda'

    ErrorItemResponse:
      properties:
        timestamp:
          type: string
          format: date-time
          example: '2021-03-08T12:27:12-0300'
        status:
          type: number
          format: int32
          example: 404
          description: 'Http status'
        error:
          type: string
          example: 'Não Encontrado'
          description: 'Descrição resumida do erro'
        errors:
          type: array
          items:
            type: string
          example: [ ]
        validations:
          type: array
          items:
            type: string
          example: [ ]
        message:
          type: string
          description: 'Descrição mais detalahda do erro'
          example: 'No handler found for GET /api/v1/recurso/4c06c5dd-bc75-4fe8-a233-94531a58cee2/operacoes'
        path:
          type: string
          example: '/api/v1/recurso/4c06c5dd-bc75-4fe8-a233-94531a58cee2/operacoes'

    ErrorResponse:
      $ref: '#/components/schemas/ErrorItemResponse'

    MdfeView:
      type: "object"
      properties:
        id:
          type: string
          format: uuid
          description: Identificador único do MDF-e.
          example: "069f1240-59cd-4fbe-bdf7-c348e5276b99"
        versaoMdfe:
          type: "object"
          description: Informações de versão do MDF-e.
          properties:
            versao:
              type: string
              description: "Versão do MDF-e (Ex: V3.00)."
              example: "V3.00"
            versaoDocumento:
              type: string
              description: Versão do documento.
              example: "3.00"
        emitente:
          type: object
          description: Informações do emitente do MDF-e.
          properties:
            id:
              type: string
              description: Identificador do emitente.
              example: "1"
            nome:
              type: string
              description: Nome completo do emitente.
              example: "MDFe Verify"
            nomeFantasia:
              type: string
              description: Nome fantasia do emitente.
              example: "MDFe Verify Fantasia"
            email:
              type: string
              format: email
              description: Endereço de e-mail do emitente.
              example: "teste@teste.com.br"
            telefone:
              type: string
              description: Telefone do emitente.
              example: "99999999999"
            ie:
              type: string
              description: Inscrição Estadual do emitente.
              example: "046058532"
            rntrc:
              type: string
              description: Registro Nacional de Transportadores Rodoviários de Carga.
              example: "12345678"
            tipoEmitente:
              type: string
              enum: [SERVICO, OUTRO_TIPO]
              description: Tipo de emitente.
              example: "SERVICO"
            endereco:
              type: object
              description: Endereço do emitente.
              properties:
                logradouro:
                  type: string
                  description: Logradouro.
                  example: "RUA FILIPE DE OLIVEIRA"
                bairro:
                  type: string
                  description: Bairro.
                  example: "Recife"
                cep:
                  type: string
                  description: CEP.
                  example: "01001010"
                numero:
                  type: string
                  description: Número.
                  example: "123"
                codigoMunicipio:
                  type: string
                  description: Código do município (IBGE).
                  example: "2611606"
                nomeMunicipio:
                  type: string
                  description: Nome do município.
                  example: "RECIFE"
                codigoUf:
                  type: string
                  description: Código da Unidade da Federação (IBGE).
                  example: "26"
                uf:
                  type: string
                  description: Sigla da Unidade da Federação.
                  example: "PE"
                pais:
                  type: string
                  description: País.
                  example: "BRASIL"
                complemento:
                  type: string
                  description: Complemento do endereço.
                  example: ""
            emailsAlternativos:
              type: array
              items:
                type: string
              description: Lista de e-mails alternativos do emitente.
              example: []
            cnpj:
              type: string
              description: CNPJ do emitente.
              example: "13975934000190"
            certificado:
              type: object
              description: Informações do certificado digital do emitente.
              properties:
                validade:
                  type: string
                  format: date-time
                  description: Data e hora de validade do certificado.
                  example: "2025-08-29T08:37:39-0300"
                tipoCertificado:
                  type: string
                  description: Tipo do certificado.
                  example: "CS - A1"
                token:
                  type: string
                  format: uuid
                  description: Token do certificado.
                  example: "77280a4a-7e90-4983-9419-e479be50c476"
                exibido30Dias:
                  type: string
                  nullable: true
                  description: Data de exibição (30 dias).
                  example: null
                exibido15Dias:
                  type: string
                  nullable: true
                  description: Data de exibição (15 dias).
                  example: null
                exibidoNoDia:
                  type: string
                  nullable: true
                  description: Data de exibição (no dia).
                  example: null
                periodoValidadeCertificado:
                  type: string
                  nullable: true
                  description: Período de validade do certificado.
                  example: null
            logomarca:
              type: string
              nullable: true
              description: URL ou base64 da logomarca do emitente.
              example: null
            dataCadastramento:
              type: integer
              format: int64
              description: Data de cadastramento do emitente (timestamp).
              example: 1392343200000
            observacao:
              type: string
              description: Observações sobre o emitente.
              example: "Obs:324!!!"
            empresa:
              type: string
              nullable: true
              description: Informações da empresa (se aplicável).
              example: null
            situacao:
              type: string
              enum: [ATIVADA, INATIVADA]
              description: Situação do emitente.
              example: "ATIVADA"
            cpfCnpjContabilidade:
              type: string
              nullable: true
              description: CPF ou CNPJ da contabilidade.
              example: null
            emailContabilidade:
              type: string
              format: email
              nullable: true
              description: E-mail da contabilidade.
              example: null
            telefoneContabilidade:
              type: string
              nullable: true
              description: Telefone da contabilidade.
              example: null
            empresaPrincipal:
              type: boolean
              description: Indica se é a empresa principal.
              example: false
        tipoEmitente:
          type: string
          enum: [SERVICO, OUTRO_TIPO]
          description: Tipo de emitente do MDF-e.
          example: "SERVICO"
        serie:
          type: integer
          description: Número de série do MDF-e.
          example: 1
        numero:
          type: integer
          description: Número do MDF-e.
          example: 1049
        chaveAcesso:
          type: string
          description: Chave de acesso do MDF-e.
          example: "26250213975934000190580010000010491000000002"
        ufCarregamento:
          type: string
          description: UF de carregamento.
          example: "SC"
        ufDescarregamento:
          type: string
          description: UF de descarregamento.
          example: "RS"
        ufPercursoList:
          type: array
          items:
            type: string
          nullable: true
          description: Lista de UFs de percurso.
          example: null
        statusMdfe:
          type: string
          enum: [VALIDADO, CANCELADO, ENCERRADO, REJEITADO]
          description: Status atual do MDF-e.
          example: "VALIDADO"
        tipoEmissao:
          type: string
          enum: [NORMAL, CONTINGENCIA]
          description: Tipo de emissão do MDF-e.
          example: "NORMAL"
        xmlExportado:
          type: boolean
          description: Indica se o XML foi exportado.
          example: false
        protocoloRecebimento:
          type: string
          nullable: true
          description: Protocolo de recebimento.
          example: null
        numeroProtocoloAutorizacao:
          type: string
          nullable: true
          description: Número do protocolo de autorização.
          example: null
        protocoloCancelamento:
          type: string
          nullable: true
          description: Protocolo de cancelamento.
          example: null
        numeroProtocoloEncerramento:
          type: string
          nullable: true
          description: Número do protocolo de encerramento.
          example: null
        versaoDados:
          type: string
          nullable: true
          description: Versão dos dados.
          example: null
        motivoCancelamentoMdfe:
          type: string
          nullable: true
          description: Motivo do cancelamento do MDF-e.
          example: null
        motivoRejeicao:
          type: string
          nullable: true
          description: Motivo da rejeição do MDF-e.
          example: null
        valorCarga:
          type: number
          format: float
          description: Valor total da carga.
          example: 35000.0
        pesoCarga:
          type: number
          format: float
          description: Peso total da carga.
          example: 700.0
        numeroRecebimento:
          type: string
          nullable: true
          description: Número de recebimento.
          example: null
        rntrc:
          type: string
          description: RNTRC do transportador.
          example: "12345678"
        ciot:
          type: array
          items:
            type: object
            properties:
              ciot:
                type: string
                description: Código Identificador da Operação de Transporte.
                example: "123456789012"
              cpf:
                type: string
                description: CPF do responsável pelo CIOT.
                example: "00648627047"
              cnpj:
                type: string
                nullable: true
                description: CNPJ do responsável pelo CIOT.
                example: null
          description: Lista de CIOTs associados ao MDF-e.
        modal:
          type: string
          enum: [RODOVIARIO, FERROVIARIO, AQUAVIARIO, AEREO, DUTOVIARIO]
          description: Modal de transporte.
          example: "RODOVIARIO"
        documentos:
          type: array
          items:
            type: object
            properties:
              tipoDocumento:
                type: string
                enum: [CTE, NF_E]
                description: Tipo de documento (CT-e, NF-e, etc.).
                example: "CTE"
              numero:
                type: integer
                nullable: true
                description: Número do documento.
                example: null
              serie:
                type: integer
                nullable: true
                description: Série do documento.
                example: null
              chaveAcesso:
                type: string
                description: Chave de acesso do documento.
                example: "42241230714990000190550010000000521000000058"
              valor:
                type: number
                format: float
                nullable: true
                description: Valor do documento.
                example: null
              peso:
                type: number
                format: float
                nullable: true
                description: Peso do documento.
                example: null
              codigoMunicipioDescarregamento:
                type: string
                description: Código do município de descarregamento (IBGE).
                example: "4203204"
              nomeMunicipioDescarregamento:
                type: string
                description: Nome do município de descarregamento.
                example: "CAMBORIÚ"
          description: Lista de documentos fiscais relacionados (CT-e, NF-e, etc.).
        indCarregamentoPosterior:
          type: boolean
          description: Indica carregamento posterior.
          example: false
        usuarioCancelamento:
          type: string
          nullable: true
          description: Usuário que realizou o cancelamento.
          example: null
        usuarioEncerramento:
          type: string
          nullable: true
          description: Usuário que realizou o encerramento.
          example: null
        usuarioEmissao:
          type: string
          nullable: true
          description: Usuário que realizou a emissão.
          example: null
        usuarioCadastramento:
          type: string
          description: Usuário que realizou o cadastramento.
          example: "root"
        damdfeImpresso:
          type: boolean
          description: Indica se o DAMDF-e foi impresso.
          example: false
        integrationId:
          type: string
          format: uuid
          description: ID de integração.
          example: "029341de-df08-4821-9570-061bcc5ba067"
        condutorList:
          type: array
          items:
            type: object
            properties:
              xNome:
                type: string
                description: Nome do condutor.
                example: "DEIVERSON SOUZA DE OLIVEIRA"
              cpf:
                type: string
                description: CPF do condutor.
                example: "00648627047"
          description: Lista de condutores envolvidos no transporte.
        dadosVeiculo:
          type: object
          description: Dados do veículo de transporte.
          properties:
            cInt:
              type: string
              nullable: true
              description: Código interno do veículo.
              example: null
            placa:
              type: string
              description: Placa do veículo.
              example: "KKK9999"
            tara:
              type: number
              format: float
              description: Tara do veículo (em kg).
              example: 2000.0
            capKG:
              type: number
              format: float
              description: Capacidade de carga em KG.
              example: 700.0
            capM3:
              type: number
              format: float
              description: Capacidade de carga em M3.
              example: 300.0
            prop:
              type: object
              description: Informações do proprietário do veículo.
              properties:
                cnpj:
                  type: string
                  nullable: true
                  description: CNPJ do proprietário.
                  example: null
                cpf:
                  type: string
                  description: CPF do proprietário.
                  example: "00648627047"
                rntrc:
                  type: string
                  description: RNTRC do proprietário.
                  example: "12345678"
                xNome:
                  type: string
                  description: Nome do proprietário.
                  example: "DEIVERSON SOUZA DE OLIVEIRA"
                ie:
                  type: string
                  description: Inscrição Estadual do proprietário.
                  example: "491999630084"
                uf:
                  type: string
                  description: UF do proprietário.
                  example: "RS"
                tpProp:
                  type: string
                  enum: [TAC_AGREGADO, TAC_INDEPENDENTE, OUTROS]
                  description: Tipo de proprietário.
                  example: "TAC_AGREGADO"
            tpPropriedade:
              type: string
              enum: [PROPRIO, TERCEIRO, ARRENDADO]
              description: Tipo de propriedade do veículo.
              example: "TERCEIRO"
            uf:
              type: string
              description: UF de emplacamento do veículo.
              example: "PE"
            tpCar:
              type: string
              enum: [ABERTA, FECHADA, GRANELEIRA, PORTA_CONTAINER, SIDER, OUTROS]
              description: Tipo de carroceria do veículo.
              example: "ABERTA"
            renavam:
              type: string
              description: RENAVAM do veículo.
              example: "54353454235"
        tipoRodado:
          type: string
          enum: [TRUCK, TOCO, CAVALO_MECANICO, OUTROS]
          description: Tipo de rodado do veículo.
          example: "TRUCK"
        autorizadoXmlList:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                nullable: true
                description: Identificador do autorizado (se aplicável).
                example: null
              cpfCnpj:
                type: string
                description: CPF ou CNPJ do autorizado.
                example: "04898488000177"
              tipoDocumento:
                type: string
                enum: [CPF, CNPJ]
                description: Tipo de documento (CPF ou CNPJ).
                example: "CNPJ"
          description: Lista de CPFs/CNPJs autorizados a acessar o XML do MDF-e.
        informacoesInteresseFisco:
          type: string
          description: Informações de interesse do fisco.
          example: "observacao do fisco"
        informacoesInteresseContribuinte:
          type: string
          description: Informações de interesse do contribuinte.
          example: "Observacao do contribuinte"
        statusAverbacao:
          type: string
          enum: [COM_AVERBACAO, SEM_AVERBACAO]
          description: Status de averbação.
          example: "SEM_AVERBACAO"
        dataEmissao:
          type: string
          format: date-time
          description: Data e hora de emissão do MDF-e.
          example: "2025-02-28T13:09:58-0300"
        dataEnvio:
          type: string
          format: date-time
          nullable: true
          description: Data e hora de envio do MDF-e.
          example: null
        dataAutorizacao:
          type: string
          format: date-time
          nullable: true
          description: Data e hora de autorização do MDF-e.
          example: null
        dataCancelamento:
          type: string
          format: date-time
          nullable: true
          description: Data e hora de cancelamento do MDF-e.
          example: null
        dataEncerramento:
          type: string
          format: date-time
          nullable: true
          description: Data e hora de encerramento do MDF-e.
          example: null

  responses:
    CreateResponseId:
      description: 'Recurso criado'
      headers:
        location:
          description: 'Link para o novo recurso criado'
          required: true
          schema:
            type: string
            format: uri
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateEntityReturn'
    BadRequest:
      description: Problemas na requisição
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unauthorized
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Forbidden