openapi: 3.0.0
info:
  title: Hivecloud Services API
  description: Hivecloud Services API
  version: 1.0.0

servers:
  - url: https://services.hivecloud.com.br/api

paths:
  /v1/certificado/configurar/a1:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCertificadoA1Request'
        required: true
      responses:
        '200':
          description: 'OK'
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/CreateCertificadoResponse'
  /v1/certificado/configurar/informacoes-certificado:
    post:
      parameters:
        - name: 'idCertificado'
          description: 'Id do certificado'
          in: 'header'
          required: true
          schema:
            type: 'string'
          example: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
        - name: 'cnpj'
          in: 'header'
          required: true
          schema:
            type: 'string'
          example: 'XX.XXX.XXX/0001-XX'
      responses:
        '200':
          description: 'OK'
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/FindCertificadoInfo'
  /v1/certificado/configurar/informacoes-certificado/{id}:
    get:
      parameters:
        - name: 'id'
          description: 'Id da transação retornada no /informacoes-certificado'
          in: 'path'
          required: true
          schema:
            type: 'string'
          example: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
      responses:
        '200':
          description: 'OK'
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/FindCertificadoInfoResult'
  /v1/certificado/assinar:
    post:
      parameters:
        - name: 'idCertificado'
          description: 'Id do certificado'
          in: 'header'
          required: true
          schema:
            type: 'string'
          example: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
        - name: 'cnpj'
          in: 'header'
          required: true
          schema:
            type: 'string'
          example: 'XX.XXX.XXX/0001-XX'
        - name: 'chaveAcesso'
          in: 'header'
          required: true
          schema:
            type: 'string'
          example: 'MDFe99999999999999999999999999999999999999999999'
      requestBody:
        content:
          application/xml:
            schema:
              type: 'object'
              format: 'xml'
              xml:
                name: 'MDFe'
            example: '<?xml version="1.0" encoding="UTF-8"?><MDFe xmlns="http://www.portalfiscal.inf.br/mdfe"><infMDFe Id="MDFe99999999999999999999999999999999999999999999" versao="3.00"><ide><cUF>26</cUF><tpAmb>2</tpAmb><tpEmit>1</tpEmit><mod>58</mod><serie>1</serie><nMDF>10396</nMDF><cMDF>00000000</cMDF><cDV>8</cDV><modal>1</modal><dhEmi>2024-08-05T15:05:04-03:00</dhEmi><tpEmis>1</tpEmis><procEmi>0</procEmi><verProc>hivelog-mdfe-0.1.0</verProc><UFIni>RJ</UFIni><UFFim>RJ</UFFim><infMunCarrega><cMunCarrega>3300951</cMunCarrega><xMunCarrega>TESTE  HIVE</xMunCarrega></infMunCarrega><dhIniViagem>2024-08-05T12:05:00-03:00</dhIniViagem><indCanalVerde>1</indCanalVerde></ide><emit><CNPJ>99999999999999</CNPJ><IE>000000000</IE><xNome>TESTE  HIVE</xNome><xFant>TESTE  HIVE</xFant><enderEmit><xLgr>Lograouro</xLgr><nro>Sem número</nro><xCpl>Industrial</xCpl><xBairro>INTERIOR</xBairro><cMun>2602902</cMun><xMun>Recife</xMun><CEP>11111111</CEP><UF>PE</UF><fone>55555555555</fone><email>usuario@hivecloud.com.br</email></enderEmit></emit><infModal versaoModal="3.00"><rodo><infANTT><RNTRC>11111111</RNTRC><infContratante><CNPJ>99999999999999</CNPJ></infContratante></infANTT></rodo></infModal><infDoc><infMunDescarga><cMunDescarga>3302403</cMunDescarga><xMunDescarga>MACAÉ</xMunDescarga><infCTe><chCTe>99999999999999999999999999999999999999999999</chCTe></infCTe><infCTe><chCTe>99999999999999999999999999999999999999999999</chCTe></infCTe></infMunDescarga></infDoc><seg><infResp><respSeg>1</respSeg><CNPJ>99999999999999</CNPJ></infResp><infSeg><xSeg>HOMOLOGACAO WS</xSeg><CNPJ>99999999999999</CNPJ></infSeg><nApol>TESTE</nApol><nAver>6666</nAver></seg><prodPred><tpCarga>05</tpCarga><xProd>diversos</xProd></prodPred><tot><qCTe>2</qCTe><vCarga>13680.00</vCarga><cUnid>01</cUnid><qCarga>255.6000</qCarga></tot><autXML><CNPJ>99999999999999</CNPJ></autXML><autXML><CPF>11111111111</CPF></autXML><autXML><CPF>11111111111</CPF></autXML><autXML><CPF>11111111111</CPF></autXML><autXML><CPF>11111111111</CPF></autXML><autXML><CPF>11111111111</CPF></autXML><autXML><CPF>11111111111</CPF></autXML><infAdic/><infRespTec><CNPJ>99999999999999</CNPJ><xContato>Hivelog Soluções em Tecnologia da Informação.</xContato><email>desenvolvimento@hivecloud.com.br</email><fone>55555555555</fone></infRespTec></infMDFe><infMDFeSupl><qrCodMDFe>https://dfe-portal.svrs.rs.gov.br/mdfe/QRCode?chMDFe=99999999999999999999999999999999999999999999&amp;tpAmb=2</qrCodMDFe></infMDFeSupl></MDFe>'
        required: true
      responses:
        '200':
          description: 'OK'
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SignMessageReturnDto'
  /v1/certificado/assinar/{id}:
    get:
      parameters:
        - name: 'id'
          description: 'Id da transação retornada no /assinar'
          in: 'path'
          required: true
          schema:
            type: 'string'
          example: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
      responses:
        '200':
          description: 'OK'
          content:
            '*/*':
              schema:
                type: 'object'
  /v1/certificado/assinar-texto:
    post:
      parameters:
        - name: 'idCertificado'
          description: 'Id do certificado'
          in: 'header'
          required: true
          schema:
            type: 'string'
          example: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
        - name: 'cnpj'
          example: 'XX.XXX.XXX/0001-XX'
          in: 'header'
          required: true
          schema:
            type: 'string'
      requestBody:
        content:
          application/json:
            schema:
              type: 'string'
            example: 'texto que deseja assinar'
        required: true
      responses:
        '200':
          description: 'OK'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SignStringMessageReturnDto'
  /v1/certificado/assinar-texto/{id}:
    get:
      parameters:
        - name: 'id'
          description: 'Id da transação retornada no /assinar-texto'
          in: 'path'
          required: true
          schema:
            type: 'string'
          example: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
      responses:
        '200':
          description: 'OK'
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/RetSignStringMessageReturnDto'
  /v1/certificado/enviar:
    post:
      parameters:
        - name: 'idCertificado'
          description: 'Id do certificado'
          in: 'header'
          required: true
          schema:
            type: 'string'
          example: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
        - name: 'cnpj'
          in: 'header'
          required: true
          schema:
            type: 'string'
          example: 'XX.XXX.XXX/0001-XX'
        - name: 'url'
          in: 'header'
          required: true
          schema:
            type: 'string'
          example: 'https://mdfe-homologacao.svrs.rs.gov.br/ws/mdfeconsulta/MDFeConsulta.asmx'
        - name: 'soapAction'
          in: 'header'
          required: true
          schema:
            type: 'string'
          example: 'http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsulta/mdfeConsultaMDF'
      requestBody:
        content:
          application/xml:
            schema:
              type: 'object'
              format: 'xml'
              xml:
                name: 'env:Envelope'
            example: '<?xml version="1.0" encoding="utf-8" ?><env:Envelope xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Header><mdfeCabecMsg xmlns="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsulta"><cUF>26</cUF><versaoDados>3.00</versaoDados></mdfeCabecMsg></env:Header><env:Body><mdfeDadosMsg xmlns="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsulta"><consSitMDFe xmlns="http://www.portalfiscal.inf.br/mdfe" versao="3.00"><tpAmb>2</tpAmb><xServ>CONSULTAR</xServ><chMDFe>99999999999999999999999999999999999999999999</chMDFe></consSitMDFe></mdfeDadosMsg></env:Body></env:Envelope>'
        required: true
      responses:
        '200':
          description: 'OK'
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SendSoapMessageReturnDto'
  /v1/certificado/enviar/{id}:
    get:
      parameters:
        - name: 'id'
          description: 'Id da transação retornada no /informacoes-certificado'
          in: 'path'
          required: true
          schema:
            type: 'string'
          example: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
      responses:
        '200':
          description: 'OK'
          content:
            application/xml:
              schema:
                type: 'object'
                format: 'xml'
                xml:
                  name: 'soap:Envelope'
              example: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Header><mdfeCabecMsg xmlns="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsulta"><cUF>26</cUF><versaoDados>3.00</versaoDados></mdfeCabecMsg></soap:Header><soap:Body><mdfeConsultaMDFResult xmlns="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsulta"><retConsSitMDFe xmlns="http://www.portalfiscal.inf.br/mdfe" versao="3.00"><tpAmb>2</tpAmb><verAplic>RS20240709143518</verAplic><cStat>217</cStat><xMotivo>Rejeicao: MDF-e nao consta na base de dados da SEFAZ</xMotivo><cUF>26</cUF></retConsSitMDFe></mdfeConsultaMDFResult></soap:Body></soap:Envelope>'
components:
  schemas:
    CreateCertificadoA1Request:
      type: 'object'
      properties:
        certificate:
          type: 'array'
          items:
            type: 'string'
            format: 'byte'
        password:
          type: 'string'
        cnpj:
          type: 'string'
    CreateCertificadoResponse:
      type: 'object'
      properties:
        dataExpiracao:
          type: 'string'
          format: 'date-time'
        senha:
          type: 'string'
        tipoCertificado:
          type: 'string'
          enum:
            - 'A1'
            - 'A3'
            - 'CS'
        aliasName:
          type: 'string'
        token:
          type: 'string'
    FindCertificadoInfo:
      type: 'object'
      properties:
        sucesso:
          type: 'boolean'
        mensagem:
          type: 'string'
        transactionId:
          type: 'string'
    CertificateInfoDto:
      type: 'object'
      properties:
        token:
          type: 'string'
        tipoCertificado:
          type: 'string'
          enum:
            - 'A1'
            - 'A3'
        cnpj:
          type: 'string'
        dataValidade:
          type: 'string'
          format: 'date-time'
    FindCertificadoInfoResult:
      type: 'object'
      properties:
        completo:
          type: 'boolean'
        sucesso:
          type: 'boolean'
        mensagem:
          type: 'string'
        certificateInfo:
          $ref: '#/components/schemas/CertificateInfoDto'
    SignMessageReturnDto:
      type: 'object'
      properties:
        success:
          type: 'boolean'
        message:
          type: 'string'
        transactionId:
          type: 'string'
    SignStringMessageReturnDto:
      type: 'object'
      properties:
        success:
          type: 'boolean'
        message:
          type: 'string'
        transactionId:
          type: 'string'
    RetSignStringMessageReturnDto:
      type: 'object'
      properties:
        complete:
          type: 'boolean'
        success:
          type: 'boolean'
        message:
          type: 'string'
        signed:
          type: 'string'
        codigoRetorno:
          type: 'string'
    SendSoapMessageReturnDto:
      type: 'object'
      properties:
        success:
          type: 'boolean'
        message:
          type: 'string'
        transactionId:
          type: 'string'
